{{define "function"}}
{{- $f := .}}

func {{.FuzzName}}(f *testing.F) {
    f.Add({{- range .TestParameters}} {{- DefaultValueFromType . }},{{- end}})
    f.Fuzz(func(t *testing.T, {{- range .TestParameters}} {{- Param .}} {{.Type}}, {{- end}}){
        {{template "inline" $f}}
        return
	})
}

{{end}}